<mapper namespace="supermarket.mapper.IProductMapper">

    <select id="get" resultType="supermarket.model.Product">
        SELECT * FROM Products WHERE product_id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="product_id">
        INSERT INTO Products (name, description, price, quantity, category_id)
        VALUES (#{name}, #{description}, #{price}, #{quantity}, #{categoryId})
    </insert>

    <update id="update">
        UPDATE Products SET name=#{name}, description=#{description}, price=#{price},
        quantity=#{quantity}, category_id=#{categoryId} WHERE product_id=#{product_id}
    </update>

    <delete id="delete">
        DELETE FROM Products WHERE product_id=#{id}
    </delete>

    <select id="getAll" resultType="supermarket.model.Product">
        SELECT * FROM Products
    </select>

    <select id="findByCategory" resultType="supermarket.model.Product">
        SELECT * FROM Products WHERE category_id = #{categoryId}
    </select>

</mapper>
